[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-countryquiz
Exec=harbour-countryquiz
Name=Country Quiz

X-Desktop-File-Install-Version=0.26

[X-Sailjail]
OrganizationName=site.tomin.apps
ApplicationName=CountryQuiz
Permissions=